.home{
  &__section{
    padding: 20px 0;
  }
  &__margin1{
    &:nth-child(n+2){
      margin-top: 20px;
      @include media-breakpoint-up('m'){
        margin-top: 64px;
      }
    }
  }
  &__grid16{
    $x:16px;
    margin-left: -15px;
    @include media-breakpoint-up('m'){
      margin-left: -#{$x};
    }
    >*{
      padding-left: 15px;
      @include media-breakpoint-up('m'){
        padding-left: #{$x};
      }
      &.uk-grid-margin{
        margin-top: 15px;
        @include media-breakpoint-up('m'){
          margin-top: #{$x};
        }
      }
    }
  }
  &__grid19{
    margin-left: -19px;
    >*{
      padding-left: 19px;
      &.uk-grid-margin{
        margin-top: 15px;
      }
    }
  }
  &__grid21{
    $x:21px;
    margin-left: -15px;
    @include media-breakpoint-up('m'){
      margin-left: -#{$x};
    }
    >*{
      padding-left: 15px;
      @include media-breakpoint-up('m'){
        padding-left: #{$x};
      }
      &.uk-grid-margin{
        margin-top: 15px;
        @include media-breakpoint-up('m'){
          margin-top: #{$x};
        }
      }
    }
  }
  &__tab{
    margin-bottom: 20px;
    border: none !important;
    >li{
      >a{
        border: none !important;
        color: #000;
        @extend .fz-20;
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 2px;
      }
      &.active{
        >a{
          background-color: #749945 !important;
          color: #ffffff !important;
          font-family: $font-Roboto-Bold;
        }
      }
    }
  }
  &__box4{
    &__container{
      border-radius: 8px;
      margin-bottom: 10px;
    }
    &__img{
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
    &__title{
      color: #133b3a;
      margin: 0;
      margin-bottom: 10px;
      a{
        color: #133b3a;
      }
      line-height: 1.25;
      font-family: $font-Roboto-Bold;
      @extend .fz-20;
    }
    &__desc{
      @extend .fz-18;
      color: #133b3a;
    }
  }
  &__box6{
    h3{
      padding: 0px 15px;
      @include media-breakpoint-up('m'){
        padding: 0 50px;
      }
      border-radius: 4px;
      background-color: #729b45;
      color: #ffffff;
      @extend .fz-20;
      font-family: $font-Roboto-Bold;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      column-gap: .25em;
      box-sizing: border-box;
      min-height: 45px;
    }
  }
  &__box5{
    &__container{
      border-radius: 4px;
    }
    &__img{
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
    &__content{
      text-align: center;
      background-color: rgba(#749945,0.8);
      color: #ffffff;
      @extend .fz-20;
      padding: 5px 10px;
    }
  }
  &__grid20{
    $x:20px;
    margin-left: -15px;
    @include media-breakpoint-up('m'){
      margin-left: -#{$x};
    }
    >*{
      padding-left: 15px;
      @include media-breakpoint-up('m'){
        padding-left: #{$x};
      }
      &.uk-grid-margin{
        margin-top: 15px;
        @include media-breakpoint-up('m'){
          margin-top: #{$x};
        }
      }
    }
  }
  &__box1{
    border-radius: 8px;
    overflow: hidden;
    &__img{
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }
  &__box2{
    border-radius: 8px;
    &__img{
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
    &__txt{
      padding: 5px 10px;
      background-color: rgba(#749945,0.8);
      text-align: center;
      color: #ffffff;
      @extend .fz-20;
    }
  }
  &__box3{
    &__title{
      margin: 0;
      margin-bottom: 15px;
      color: #000;
      @extend .fz-46;
      font-family: $font-Roboto-Bold;
    }
    &__img{
      margin-bottom: 15px;
      img{

      }
    }
    &__desc{
      margin: 0;
      margin-bottom: 15px;
      @extend .fz-20;
      color: #707070;
      line-height: 1.71;
    }
    &__item{
      @extend .fz-20;
      color: #354e57;
      &:nth-child(n+2){
        margin-top: 15px;
      }
      h3{
        margin: 0;
        color: #729b45;
        @extend .fz-20;
        font-family: $font-Roboto-Bold;
      }
    }
  }
  &__boxtinhoatdong{
    border-radius: 4px;
    box-shadow: inset 0 3px 10px 0 rgba(0, 0, 0, 0.16);
    background-color: rgba(228, 228, 228, 0.79);
    padding: 10px;
    &__title{
      margin: 0;
      color: #729b45;
      @extend .fz-24;
      font-family: $font-Roboto-Bold;
      padding-bottom: 5px;
      border-bottom: 1px solid #729b45;
      margin-bottom: 10px;
    }
    &__list{
      >li{
        &.uk-grid-margin{
          margin-top: 10px;
        }
        >a{
          color: #000;
          @extend .fz-20;
          line-height: 1.6;
        }
      }
    }
  }
}